/* Created by swapnil shelake */

body {
    margin: auto;
}
.clac{
    width:300px;
    height:400px;
    background:black;
    margin-left:25px;
    border-radius:10px;
}
#screen{
    width:80%;
    margin-left:20px;
    height:30px;
    margin-top:30px;
    pointer-events:none;
    border-radius:4px;
    border-color:rgb(18, 18, 235);
    background-color:#70e90e;
    padding:8px;
    font-size: 23px;
}
.btn{
    width:50px;
    height:35px;
    margin-left:20px;
    margin-top:20px;
    background:#6dc41b;
    border-radius:5px;
    border-color:blue;
    font-size: 23px;
}